
<br>
<%= link_to "delete_favorites", favorites_delete_path(favorites: ["hello"]), method: :put%>
<br>
<%= link_to "erase_favorites", favorites_erase_path, method: :delete%>

<% if @results && @results != [] %>
    <h2>Favorites</h2>

    <% @results.each do |item| %>
        <% item = JSON.parse(item) %>
        <div class="items">
            <h3><%= item['name'] %></h3>
            <%= image_tag(item['icon_large']) %>
            <div class="item-description"><p><%= item['description'] %></p></div>
            <%= link_to 'Show me more!', show_path(item['id']) %>
            <% if user_signed_in? %>
                <%= link_to "Remove from Favorites", favorites_delete_path(favorites: [item.to_json]), method: :put %>
            <% end %>
        </div>
    <% end %>

<% else %>
    <h2>No Results!</h2>
<% end %>